.temperature-toggle {
  position: relative;
  background-color: white;
  width: 40px;
  height: 20px;
  appearance: none;
  border-radius: 15px;
  cursor: pointer;
}

.temperature-toggle::after {
  position: absolute;
  content: "C";
  text-align: center;
  line-height: 20px;
  left: 2%;
  top: 4%;
  width: 18px;
  /* height: 18px; */
  background-color: #343a40;
  color: white;
  border-radius: 50%;
  transition: all 0.5s;
  box-shadow: 0 1px 0 black;
  bottom: 8%;
}

.temperature-toggle:checked::after {
  left: 51%;
  content: "F";
}
