.forecast-card-list {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.forecast-card {
  animation: showOnScreen 0.5s forwards;
  opacity: 0;
}

.forecast-card > p:first-child {
  font-size: 1.2rem;
  font-weight: bold;
}

.forecast-card > div:last-child {
  font-family: monospace, sans-serif;
}

@keyframes showOnScreen {
  100% {
    opacity: 1;
  }
}