.forecast-card-list {
  display: grid;
  gap: 5%;
  grid-template-columns: repeat(3, 1fr);
}

.forecast-card {
  font-weight: bold;
  animation: showFromBottom 0.5s forwards;
  opacity: 0;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  padding: 10px;
  cursor: pointer;
  transform: translateY(-200%);
  transition: all 0.2s;
  background-color: brown;
  color: white;
  border-radius: 10px;
}

.forecast-card:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  transform: scale(1.04) translateZ(10px);
}

.forecast-card > p:first-child {
  font-size: 1.2rem;
}

.forecast-card > div:last-child {
  font-family: monospace, sans-serif;
}

@keyframes showFromBottom {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}