.extra-info-section {
  height: 100%;
  background-color: #343a40;
  transform-origin: bottom;
  animation: growAnimation 0.5s forwards;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  color: white;
  text-align: center;
}

@keyframes growAnimation {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
