*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

nav {
  background-color: #343a40;
  grid-row: 1 / 1;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.search-bar {
  padding: 20px;
  display: flex;
}

section {
  background-color: #ddd;
}

.city-weather-display {
  display: grid;
  align-items: center;
  background-color: white;
  grid-template-rows: 3fr 1fr;
}

.info-section {
  display: flex;
  justify-content: center;
}

.extra-info-section {
  height: 100%;
  background-color: #343a40;
  transform-origin: bottom;
  animation: growAnimation 0.5s forwards;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  color: white;
  text-align: center;
}

@keyframes growAnimation {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
