*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

nav {
  background-color: #343a40;
  grid-row: 1 / 1;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
}

.search-bar {
  padding: 20px;
  display: flex;
}

section {
  background-color: #ddd;
}

.city-weather-display {
  display: grid;
  align-items: center;
  background-color: white;
}